/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set background color and font styles */
body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #203162;
}

/* Header styles */
header {
  background: linear-gradient(135deg, #8fe2f5, #858bef);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.logo h1 {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-left: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #f3f3f3;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #273e81;
  color: #ffffff;
}


/* Main content styles */
main {
  padding: 20px;
}

.hero {
  text-align: center;
  margin-bottom: 40px;
}

.hero h2 {
  font-size: 32px;
  margin-bottom: 10px;
  background: linear-gradient(135deg,#5fc6dd,#6167d3 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
  
}

.features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.feature {
  text-align: center;
  width: 45%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.feature img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.feature h3 {
  font-size: 20px;
  margin-bottom: 10px;
  background: linear-gradient(135deg,#5fc6dd,#6167d3 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.feature p {
  font-size: 14px;
}

.feature:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.feature:hover img {
  transform: scale(1.1);
}
.feature-button {
  background-color: #6167d3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
  margin-bottom: 10px;
}

.feature-button:hover {
  background-color: #273e81;
}
/* About Us section */

.about-section {
  display: flex;
  align-items: center;
  padding: 70px;
  background: linear-gradient(135deg, #ffffff, #bfdff6);
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(165, 188, 222, 0.845);
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 20px; 
}

.iconAB {
  width: 80px;
  height: 80px;
  background-color: #ffffff00;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.iconAB i {
  font-size: 60px;
  color: #273e81;
}

.about-content {
  flex-grow: 1;
}

.about-section:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(165, 188, 222, 0.845);
}

.about-section h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(90deg,#343aa0,#3b40a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.about-section p {
  color: #8083e1;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 0;
}
/* Native Speaker section */
.native-speaker-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.native-speaker {
  text-align: center;
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  margin: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.native-speakers h2 {
  text-align: center;
  background: linear-gradient(135deg,#5fc6dd,#6167d3 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 20px;
  
}

.native-speaker img {
  width: 80px; /* Adjust the size as per your preference */
  height: 80px; /* Adjust the size as per your preference */
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s, filter 0.3s;
}

.native-speaker h3 {
  font-size: 18px;
  margin-bottom: 10px;
  transition: color 0.3s;
}

.native-speaker p {
  font-size: 14px;
  margin-bottom: 10px;
}

.native-speaker:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.native-speaker:hover img {
  transform: scale(1.1);
  filter: brightness(70%);
}

.native-speaker:hover h3 {
  color: #273e81;
  
}

/*---------------------FAQs--------------------*/
.faq-section {
  max-width: 670px;
  margin:  auto;
  padding: 20px;
}

.faq-section h2 {
  margin-bottom: 30px;
  color: #6167d3;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(135deg,#5fc6dd,#6167d3 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.faq {
  margin-bottom: 40px;
  cursor: pointer;
}

.question {
  font-size: 16px;
  font-weight: bold;
  color: #6167d3;
  transition: color 0.3s;
}

.question:hover {
  color: #273e81;
}

.answer {
  font-size: 16px;
  line-height: 1.6;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  opacity: 0;
  margin-top: 10px;
}

.faq:hover .answer {
  max-height: 200px;
  opacity: 1;
}

/* Add border and box-shadow to faq container */
.faq {
  border: 1px solid #e1eaf3;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}



.faq.open .question::after {
  transform: rotate(180deg);
}
/*-----------------------------------------*/
footer {
  background: linear-gradient(135deg,#8FE2F5,#858BEF ); ;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.social-icons .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  margin: 0 5px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.social-icons .icon i {
  color:#858BEF ;
}

.social-icons .icon:hover {
  background-color:#8FE2F5;
}

.social-icons .icon:hover i {
  color: #fff;
}

.footer .email {
  color: #555555;
  font-size: 14px;
  margin-bottom: 5px;
}

.footer .email a {
  color: #858BEF;
  text-decoration: none;
}

.footer .email a:hover {
  text-decoration: underline;
}

.footer .copyright {
  color: #555555;
  font-size: 14px;
}

/****************LOGIN*****************/
.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: linear-gradient(135deg,#5fc6dd,#6167d3 );
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* .dropdown-content a:hover {
  background-color: #f1f1f1;
} */