/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set background color and font styles */
body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #203162;
}

/* Header styles */
header {
  background: linear-gradient(135deg, #8fe2f5, #858bef);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.logo h1 {
  font-size: 24px;
  font-weight: bold;
}

 nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-left: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #f3f3f3;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #273e81;
  color: #ffffff;
} 




.mainMenu {
  top: 10px;
  right: 10px;
}

.mainMenu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.mainMenu ul li {
  margin-left: 10px;
  position: relative; /* Required for positioning the dropdown content */
}

.mainMenu ul li a {
  text-decoration: none;
  color: #f3f3f3;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  position: relative;
}

.mainMenu ul li a:hover {
  background-color: #273e81;
  color: #ffffff;
  transform: scale(1.1); /* Increase size on hover */
}


.dropdown-content {
  display: none;
  position: absolute;
  background: /* #273e81 */ linear-gradient(135deg,#5fc6dd,#6167d3 );  
  min-width: 120px;
  border-radius: 5px;
  z-index: 1;
  top: 100%;
  left: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(-10px); /* Slide down animation */
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.dropdown-content a {
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}





/*-----------------------------------------*/
footer {
  background: linear-gradient(135deg,#8FE2F5,#858BEF ); ;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.social-icons .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  margin: 0 5px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.social-icons .icon i {
  color:#858BEF ;
}

.social-icons .icon:hover {
  background-color:#8FE2F5;
}

.social-icons .icon:hover i {
  color: #fff;
}

.footer .email {
  color: #555555;
  font-size: 14px;
  margin-bottom: 5px;
}

.footer .email a {
  color: #858BEF;
  text-decoration: none;
}

.footer .email a:hover {
  text-decoration: underline;
}

.footer .copyright {
  color: #555555;
  font-size: 14px;
}


/*------------------------------prv session -----------------------------------------------------------------------*/
.Previous-Session {
  text-align: center;
  background: linear-gradient(135deg,#5fc6dd,#6167d3 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}
th {
  background-color: #8a95e4;
  color: #333;
  text-align: center
}
tr:nth-child(even) {
  background-color: #c0c4f8;
}
tr:hover {
  background-color: #91dcf9;
}
.progress {
  background-color: #dff0d8;
  color: #3c763d;
}


body {
margin: 0;
padding-bottom: 60px; /* Adjust this value to match the height of your footer */
}